<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
</head>
<body>
    <div id="app-root">
        <p> {{ welcomeGreet() }} </p>
        <!-- <p> {{ message }} </p>
        <p> {{ isDev }} </p>
        <p> {{ skills[0] }} </p>
        <p> Name: {{ obj.name }}, Profession: {{ obj.profession }} </p> -->
        
        <!-- Methods -->
        <p>{{ getInfo() }}</p>
        <img v-bind:src="imgSrc" :alt="imgAlt" :style="{width: size + 'px'}">
        <a :href="gitProfileLink" target="_blank" rel="noopener noreferrer">Visit my profile</a> 

        <p v-text="message"></p>

        <div v-html="vHtml"></div>

        <!-- Conditional rendering -->
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>

        <!-- Controlling Reusable Elements with key -->
        <template v-if="userType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="nameInput">
        </template>
        <template v-else-if="userType === 'email'">
            <label>Email</label>
            <input placeholder="Enter your email address" key="emailInput">
        </template>
        <template v-else>
            <h2>Create Account</h2>
            <label>email</label>
            <input placeholder="Enter your email address" key="newEmailInput">
            <label>password</label>
            <input type="password" placeholder="Enter your password here" key="passwordInput">
        </template>
        <!-- v-show - it renders to DOM although it is false (display: none) -->
        <template v-show="userType === 'new'">
            <h2>Welcome Guest!!!</h2>
        </template>

        <!-- Mapping an Array to Elements with v-for -->
        <ul>
            <li v-for="skill in skills" :key="skill">
              {{ skill }}
            </li>
            <!-- With index -->
            <li v-for="(skill, index) of skills" :key="skill">
              {{ index }} - {{ skill }}
            </li>
        </ul>

        <!-- v-for with an Object -->
        <ul>
            <li v-for="(item, key, index) in obj" :key="item">
                {{ index }} - {{ key }} : {{ item }}
            </li>
            
        </ul>

        <!-- v-for with a Range -->
        <div>
            <span v-for="n in 10">{{ n }} </span>
        </div>

        <!-- v-once -->
        <div>
            <span v-once>{{ randomNumber }} </span>
            <span >{{ randomNumber }} </span>
            <!-- {{ generateRandomNumber() }} -->
            <!-- v-on:click -->
            <button v-on:click="generateRandomNumber">Generate Random Number</button>
            
        </div>
        
        <!-- v-on:mouse -->
        <div v-on:mousemove="getCoordinates" class="coordinates-area">
            <p>X: {{ x }}</p>
            <p>Y: {{ y }}</p>
        </div>

        <!-- Argument & Modifier -->
        <div>
            <button v-on:click="addName('Mostafa', $event)">Add me</button>
            <h2> {{ myName }} </h2>
            <button v-on:click.right="addName('Mahmud', $event)">Add me with right click Modifier</button>
        </div>
        <form v-on:submit.prevent="onSubmit">
            <label>Name: </label>
            <input type="text" v-model="formData.name" >

            <label>Profession: </label>
            <input type="text" v-model="formData.profession">

            <button type="submit">Submit</button>
        </form>
        <p>Name: {{ formData.name }} </p>
        <p>Profession: {{ formData.profession }} </p>

        <!-- Computed Properties -->
        <button v-on:click="counter++">Increment Counter</button>
        <button v-on:click="clicks++">Increment Click</button>
        <!-- <p>Counter: {{ increment() }} </p>
        <p>Clicks: {{ clicked() }} </p> -->
        <p>Counter: {{ increment }} </p>
        <p>Clicks: {{ clicked }} </p>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <!-- <p>Age + A = {{ addToAmethod() }}</p>
        <p>Age + B = {{ addToBmethod() }}</p> -->
        <p>Age + A = {{ addToAmethod }}</p>
        <p>Age + B = {{ addToBmethod }}</p>
    </div>
    
    <script src="main.js"></script>
</body>
<style>
    .coordinates-area {
        width: 300px;
        height: 200px;
        border: 1px solid;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
    }
</style>
</html>