<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
</head>
<body>
    <div id="app-root">
        <p> {{ welcomeGreet() }} </p>
        <!-- <p> {{ message }} </p>
        <p> {{ isDev }} </p>
        <p> {{ skills[0] }} </p>
        <p> Name: {{ obj.name }}, Profession: {{ obj.profession }} </p> -->
        
        <!-- Methods -->
        <p>{{ getInfo() }}</p>
        <img v-bind:src="imgSrc" :alt="imgAlt" :style="{width: size + 'px'}">
        <a :href="gitProfileLink" target="_blank" rel="noopener noreferrer">Visit my profile</a> 

        <p v-text="message"></p>

        <div v-html="vHtml"></div>

        <!-- Conditional rendering -->
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>

        <!-- Controlling Reusable Elements with key -->
        <template v-if="userType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="nameInput">
        </template>
        <template v-else-if="userType === 'email'">
            <label>Email</label>
            <input placeholder="Enter your email address" key="emailInput">
        </template>
        <template v-else>
            <h2>Create Account</h2>
            <label>email</label>
            <input placeholder="Enter your email address" key="newEmailInput">
            <label>password</label>
            <input type="password" placeholder="Enter your password here" key="passwordInput">
        </template>
        <!-- v-show - it renders to DOM although it is false (display: none) -->
        <template v-show="userType === 'new'">
            <h2>Welcome Guest!!!</h2>
        </template>

        <!-- Mapping an Array to Elements with v-for -->
        <ul>
            <li v-for="skill in skills" :key="skill">
              {{ skill }}
            </li>
            <!-- With index -->
            <li v-for="(skill, index) of skills" :key="skill">
              {{ index }} - {{ skill }}
            </li>
        </ul>

        <!-- v-for with an Object -->
        <ul>
            <li v-for="(item, key, index) in obj" :key="item">
                {{ index }} - {{ key }} : {{ item }}
            </li>
            
        </ul>

        <!-- v-for with a Range -->
        <div>
            <span v-for="n in 10">{{ n }} </span>
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>